# Querying Databases with SQLAlchemy

## Introduction

This notebook was created by [Jupyter AI](https://github.com/jupyterlab/jupyter-ai) with the following prompt:

> /generate a simple notebook showing how we can query a database using sqlalchemy

This Jupyter notebook demonstrates how to query a database using SQLAlchemy. It includes sections on connecting to the database, creating tables, inserting data, querying data, filtering data, joining tables, and ordering data. The code examples provided use SQLAlchemy's methods such as `create_engine`, `Table`, `Column`, `select`, `insert`, `join`, and `order_by`. Overall, this notebook provides a useful introduction to querying databases using SQLAlchemy.

## Creating Tables

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String

In [ ]:
engine = create_engine('postgres://username:password@localhost:5432/mydatabase')

In [ ]:
metadata = MetaData()

In [ ]:
table1 = Table('table1', metadata,
               Column('id', Integer, primary_key=True),
               Column('name', String),
               Column('age', Integer),
               )

In [ ]:
table2 = Table('table2', metadata,
               Column('id', Integer, primary_key=True),
               Column('address', String),
               Column('phone', String),
               )

In [ ]:
metadata.create_all(engine)

In [ ]:
print("Tables created successfully!")

## Inserting Data

In [ ]:
# Import the necessary libraries
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, insert

In [ ]:
# Connect to the database using the create_engine method
engine = create_engine('postgres://username:password@localhost:5432/mydatabase')

In [ ]:
# Define the metadata for the tables
metadata = MetaData()

In [ ]:
# Define the structure of the tables
table1 = Table('table1', metadata,
               Column('id', Integer, primary_key=True),
               Column('name', String),
               Column('age', Integer)
               )

In [ ]:
table2 = Table('table2', metadata,
               Column('id', Integer, primary_key=True),
               Column('address', String),
               Column('phone', String)
               )

In [ ]:
# Create the tables in the database
metadata.create_all(engine)

In [ ]:
# Define the data to be inserted into the tables
data1 = {'name': 'John', 'age': 25}
data2 = {'address': '123 Main St', 'phone': '555-1234'}

In [ ]:
# Use the insert method to insert data into the tables
table1_insert = insert(table1).values(data1)
table2_insert = insert(table2).values(data2)

In [ ]:
# Execute the insert statements and commit the changes
with engine.connect() as conn:
    result1 = conn.execute(table1_insert)
    result2 = conn.execute(table2_insert)
    conn.commit()

In [ ]:
print("Data inserted successfully!")

## Querying Data

In [ ]:
# Import the necessary libraries
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, select

In [ ]:
# Connect to the database using the create_engine method
engine = create_engine('postgres://username:password@localhost:5432/mydatabase')

In [ ]:
# Define the metadata for the tables
metadata = MetaData()

In [ ]:
# Define the structure of the tables
table1 = Table('table1', metadata,
               Column('id', Integer, primary_key=True),
               Column('name', String),
               Column('age', Integer)
               )

In [ ]:
table2 = Table('table2', metadata,
               Column('id', Integer, primary_key=True),
               Column('address', String),
               Column('phone', String)
               )

In [ ]:
# Create the tables in the database
metadata.create_all(engine)

In [ ]:
# Define a SELECT statement to query data from the tables
stmt = select([table1, table2]).where(table1.c.id == table2.c.id)

In [ ]:
# Execute the SELECT statement and print the results
with engine.connect() as conn:
    result = conn.execute(stmt).fetchall()
    print(result)

## Filtering Data

In [ ]:
# Import the necessary libraries
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, select

In [ ]:
# Connect to the database using the create_engine method
engine = create_engine('postgres://username:password@localhost:5432/mydatabase')

In [ ]:
# Define the metadata for the tables
metadata = MetaData()

In [ ]:
# Define the structure of the tables
table1 = Table('table1', metadata,
               Column('id', Integer, primary_key=True),
               Column('name', String),
               Column('age', Integer)
               )

In [ ]:
table2 = Table('table2', metadata,
               Column('id', Integer, primary_key=True),
               Column('address', String),
               Column('phone', String)
               )

In [ ]:
# Create the tables in the database
metadata.create_all(engine)

In [ ]:
# Define a SELECT statement to query data from the tables
stmt = select([table1, table2]).where(table1.c.id == table2.c.id).where(table1.c.age > 21)

In [ ]:
# Execute the SELECT statement and print the results
with engine.connect() as conn:
    result = conn.execute(stmt).fetchall()
    print(result)

## Joining Tables

In [ ]:
# Import the necessary libraries
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, select, join

In [ ]:
# Connect to the database using the create_engine method
engine = create_engine('postgres://username:password@localhost:5432/mydatabase')

In [ ]:
# Define the metadata for the tables
metadata = MetaData()

In [ ]:
# Define the structure of the tables
table1 = Table('table1', metadata,
               Column('id', Integer, primary_key=True),
               Column('name', String),
               Column('age', Integer)
               )

In [ ]:
table2 = Table('table2', metadata,
               Column('id', Integer, primary_key=True),
               Column('address', String),
               Column('phone', String)
               )

In [ ]:
# Create the tables in the database
metadata.create_all(engine)

In [ ]:
# Define a SELECT statement to query data from the tables using the join method
stmt = select([table1, table2]).select_from(join(table1, table2, table1.c.id == table2.c.id))

In [ ]:
# Execute the SELECT statement and print the results
with engine.connect() as conn:
    result = conn.execute(stmt).fetchall()
    print(result)

## Ordering Data

In [ ]:
# Import the necessary libraries
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, select

In [ ]:
# Connect to the database using the create_engine method
engine = create_engine('postgres://username:password@localhost:5432/mydatabase')

In [ ]:
# Define the metadata for the tables
metadata = MetaData()

In [ ]:
# Define the structure of the tables
table1 = Table('table1', metadata,
               Column('id', Integer, primary_key=True),
               Column('name', String),
               Column('age', Integer)
               )

In [ ]:
table2 = Table('table2', metadata,
               Column('id', Integer, primary_key=True),
               Column('address', String),
               Column('phone', String)
               )

In [ ]:
# Create the tables in the database
metadata.create_all(engine)

In [ ]:
# Define a SELECT statement to query data from the tables and order the results
stmt = select([table1, table2]).where(table1.c.id == table2.c.id).order_by(table1.c.age)

In [ ]:
# Execute the SELECT statement and print the results
with engine.connect() as conn:
    result = conn.execute(stmt).fetchall()
    print(result)